@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;

}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

a {
  color: gray;
  text-decoration: none;

}
ul{
  list-style-type: none;
}
.header, .footer{
  display: flex;
  justify-content: space-between;
  height: 5vh;
  width: auto;
  flex-shrink: 0;
  flex-grow: 1;
  flex-basis: auto;
}
.footer{
  background-color: #EEEEEE;
}
.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: auto;
  flex-shrink: 1;
}

.left-links, .right-links{
  display: flex;
  justify-content: space-between;
  gap: 25px;
  flex-shrink: 1;
}
.right-links{
  text-align: right;
  margin-right: 25px;
}
button{
  padding: 10px;
  font-size: 15px;
  font-weight: 600;
}